@charset "UTF-8";
:root {
  --c-black: hsl(0, 0%, 0%);
  --c-dark-grey: hsl(0, 0%, 3%);
  --c-medium-grey: hsl(0, 0%, 49%, 1);
  --c-grey: hsl(0, 0%, 90%);
  --c-light-grey: hsl(0, 0%, 95%);
  --c-white: hsl(0, 0%, 100%);
  --color-bg: var(--c-white);
  --color-text: var(--c-black);
}

@layer global {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body,
  section {
    overflow-x: clip;
  }
  img {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }
  @media (inline-size < 43.75rem) {
    .hide-on-mobile {
      display: none;
    }
  }
  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
  }
  button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  progress {
    width: 100%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    height: 1px;
    background-color: var(--c-grey);
  }
  progress::-webkit-progress-bar {
    background-color: var(--c-grey);
  }
  progress::-webkit-progress-value, progress::-moz-progress-bar {
    background: var(--c-black);
  }
}
@layer typography {
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/libre-baskerville-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* libre-baskerville-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 400;
    src: url("/assets/fonts/libre-baskerville-v14-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* libre-baskerville-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/libre-baskerville-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  :root {
    --fs-200: calc(200 / 16 * 1rem);
    --fs-56: calc(56 / 16 * 1rem);
    --fs-24: calc(24 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-26: calc(26 / 16 * 1rem);
    --fs-24: calc(24 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-15: calc(15 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);
    --fs-13: calc(13 / 16 * 1rem);
    --fs-12: calc(12 / 16 * 1rem);
    --font-size-h1: var(--fs-56);
    --font-size-h2: var(--fs-24);
    --font-size-h3: clamp(var(--fs-26), var(--fs-24) + 0.6522vw, var(--fs-32));
    --font-size-h4: var(--fs-15);
    --font-size-h5: var(--fs-13);
    --font-size-p: var(--fs-14);
    --font-default: "Libre Baskerville", sans-serif;
  }
  body {
    font-size: var(--font-size-p);
    font-family: var(--font-default);
    font-weight: 700;
    line-height: 1.25rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }
  h1,
  .h1 {
    font-size: var(--font-size-h1);
    line-height: 0.9355em;
    max-inline-size: 15ch;
    text-wrap: balance;
  }
  h2,
  .h2 {
    font-size: var(--font-size-h2);
    line-height: 1.2075em;
  }
  h3,
  .h3 {
    font-size: var(--font-size-h3);
    line-height: 0.875em;
  }
  h4,
  .h4 {
    font-size: var(--font-size-h4);
    font-weight: 300;
  }
  h5,
  .h5 {
    font-size: var(--font-size-h5);
  }
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  p > a {
    color: var(--color-text);
    text-decoration: underline;
    transition: color 150ms ease-in-out;
  }
  p > a:hover {
    color: var(--color-accent);
  }
}
@layer layout {
  :root {
    --spacing-500: calc(40 / 16 * 1rem);
    --spacing-400: calc(32 / 16 * 1rem);
    --spacing-300: calc(23 / 16 * 1rem);
    --spacing-200: calc(16 / 16 * 1rem);
    --spacing-175: calc(14 / 16 * 1rem);
    --spacing-100: calc(8 / 16 * 1rem);
    --br-10: calc(10 / 16 * 1rem);
    --wrapper-size: calc(1120 / 16 * 1rem);
  }
  body {
    margin: 0;
    background-color: var(--color-bg);
  }
  .wrapper {
    inline-size: min(100% - 1.25rem, var(--wrapper-size));
    margin-inline: auto;
  }
  /* header */
  .site-header__inner {
    display: flex;
    justify-content: space-between;
    padding-block: var(--spacing-400);
    border-bottom: 1px solid var(--c-grey);
  }
  .site-header__button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2.571px;
    font-size: var(--fs-12);
    font-weight: bold;
    color: var(--c-medium-grey);
    padding: 0;
    cursor: pointer;
  }
  .masonry-grid {
    margin-block: var(--spacing-400);
    display: grid;
    gap: var(--spacing-300);
  }
  .masonry-grid__item {
    position: relative;
    margin: 0;
    cursor: pointer;
  }
  .masonry-grid__item::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    opacity: 0;
    -o-border-image: linear-gradient(hsla(240, 100%, 20%, 0.2), hsla(0, 100%, 20%, 0.2)) 1;
       border-image: linear-gradient(hsla(240, 100%, 20%, 0.2), hsla(0, 100%, 20%, 0.2)) fill 1;
    transition: opacity 0.3s ease-in;
  }
  .masonry-grid__item:hover::before {
    opacity: 1;
  }
  .masonry-grid__item img {
    inline-size: 100%;
    block-size: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .masonry-grid__content {
    position: absolute;
    inset: auto 32px 33px;
  }
  .masonry-grid__content h2 {
    margin-bottom: 0.2em;
  }
  /* modal */
  .c-dialog__image {
    position: relative;
  }
  .c-dialog__viewimage {
    position: absolute;
    inset: var(--spacing-200) auto auto var(--spacing-200);
    background-color: var(--c-black);
    color: var(--c-white);
    text-transform: uppercase;
    padding: var(--spacing-200) var(--spacing-200) var(--spacing-200) calc(12px + var(--spacing-400));
  }
  .c-dialog__viewimage::before {
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTcuNzE0MzEgMEw5LjIxNDMyIDEuNUw2Ljg1NzE4IDMuODU3MTRMOC4xNDI4OCA1LjE0Mjg1TDEwLjUgMi43ODU3MUwxMiA0LjI4NTcxVjBINy43MTQzMVoiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0zLjg1NzE0IDYuODU3NDJMMS41IDkuMjE0NTZMMCA3LjcxNDU2VjEyLjAwMDNINC4yODU3MUwyLjc4NTcxIDEwLjUwMDNMNS4xNDI4NSA4LjE0MzEzTDMuODU3MTQgNi44NTc0MloiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik04LjE0Mjg4IDYuODU3NDJMNi44NTcxOCA4LjE0MzEzTDkuMjE0MzIgMTAuNTAwM0w3LjcxNDMxIDEyLjAwMDNIMTJWNy43MTQ1NkwxMC41IDkuMjE0NTZMOC4xNDI4OCA2Ljg1NzQyWiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTQuMjg1NzEgMEgwVjQuMjg1NzFMMS41IDIuNzg1NzFMMy44NTcxNCA1LjE0Mjg1TDUuMTQyODUgMy44NTcxNEwyLjc4NTcxIDEuNUw0LjI4NTcxIDBaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4=");
    inline-size: 12px;
    block-size: 12px;
    position: absolute;
    left: var(--spacing-200);
    top: 50%;
    transform: translateY(-50%);
  }
  .c-dialog__heading {
    position: relative;
    top: -200px;
  }
  @media (width >= 43.75em) {
    .masonry-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(20, 60px);
      gap: var(--spacing-500);
      grid-template-areas: "starry-night girl-with-a-pearl-earring" "starry-night girl-with-a-pearl-earring" "starry-night girl-with-a-pearl-earring" "guernica girl-with-a-pearl-earring" "guernica girl-with-a-pearl-earring" "guernica penitent-magdalene" "guernica penitent-magdalene" "the-storm-on-the-sea-of-galilee penitent-magdalene" "the-storm-on-the-sea-of-galilee the-great-wave-off-kanagawa" "the-storm-on-the-sea-of-galilee the-great-wave-off-kanagawa" "the-storm-on-the-sea-of-galilee the-great-wave-off-kanagawa" "the-storm-on-the-sea-of-galilee the-great-wave-off-kanagawa" "van-gogh-self-portrait the-sleeping-gypsy" "van-gogh-self-portrait the-sleeping-gypsy" "van-gogh-self-portrait the-sleeping-gypsy" "van-gogh-self-portrait the-night-café" "van-gogh-self-portrait the-night-café" "van-gogh-self-portrait the-night-café" "van-gogh-self-portrait the-night-café" "lady-with-an-ermine the-basket-of-apples" "lady-with-an-ermine the-basket-of-apples" "lady-with-an-ermine the-basket-of-apples" "lady-with-an-ermine the-basket-of-apples" "lady-with-an-ermine the-basket-of-apples" "lady-with-an-ermine the-basket-of-apples" "the-boy-in-the-red-vest the-basket-of-apples" "the-boy-in-the-red-vest arnolfini-portrait" "the-boy-in-the-red-vest arnolfini-portrait" "the-boy-in-the-red-vest arnolfini-portrait" "mona-lisa arnolfini-portrait" "mona-lisa arnolfini-portrait" "mona-lisa the-swing" "mona-lisa the-swing" "mona-lisa the-swing" "mona-lisa the-swing" "mona-lisa the-swing";
    }
    .masonry-grid__item {
      color: var(--c-white);
    }
    .masonry-grid__item[data-artist=starry-night] {
      grid-area: starry-night;
    }
    .masonry-grid__item[data-artist=girl-with-a-pearl-earring] {
      grid-area: girl-with-a-pearl-earring;
    }
    .masonry-grid__item[data-artist=guernica] {
      grid-area: guernica;
    }
    .masonry-grid__item[data-artist=penitent-magdalene] {
      grid-area: penitent-magdalene;
    }
    .masonry-grid__item[data-artist=the-storm-on-the-sea-of-galilee] {
      grid-area: the-storm-on-the-sea-of-galilee;
    }
    .masonry-grid__item[data-artist=the-great-wave-off-kanagawa] {
      grid-area: the-great-wave-off-kanagawa;
    }
    .masonry-grid__item[data-artist=van-gogh-self-portrait] {
      grid-area: van-gogh-self-portrait;
    }
    .masonry-grid__item[data-artist=the-sleeping-gypsy] {
      grid-area: the-sleeping-gypsy;
    }
    .masonry-grid__item[data-artist=lady-with-an-ermine] {
      grid-area: lady-with-an-ermine;
    }
    .masonry-grid__item[data-artist=the-night-café] {
      grid-area: the-night-café;
    }
    .masonry-grid__item[data-artist=the-basket-of-apples] {
      grid-area: the-basket-of-apples;
    }
    .masonry-grid__item[data-artist=the-boy-in-the-red-vest] {
      grid-area: the-boy-in-the-red-vest;
    }
    .masonry-grid__item[data-artist=arnolfini-portrait] {
      grid-area: arnolfini-portrait;
    }
    .masonry-grid__item[data-artist=mona-lisa] {
      grid-area: mona-lisa;
    }
    .masonry-grid__item[data-artist=the-swing] {
      grid-area: the-swing;
    }
  }
  @media (width >= 75em) {
    .masonry-grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(20, 100px);
    }
  }
}
@layer decoration {}
.c-dialog {
  inline-size: 100%;
  block-size: 100%;
  border: none;
  top: 150px;
  margin: 0;
  max-height: none;
  max-width: none;
}
.c-dialog--small {
  max-width: 80vw;
  max-height: 80vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 0;
}
.c-dialog--small img {
  margin-top: var(--spacing-500);
}
.c-dialog__content {
  view-transition-name: dialog-content;
}
.c-dialog__footer > div {
  display: flex;
  justify-content: space-between;
  padding-block: var(--spacing-400);
}
.c-dialog__footer button {
  transition: opacity 0.3s ease-in;
}
.c-dialog__footer button:hover {
  opacity: 0.5;
}
.c-dialog__controls {
  display: flex;
  gap: 1.5rem;
}
.c-dialog__close {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--c-white);
  text-transform: uppercase;
  cursor: pointer;
  z-index: 10;
  padding: 0.5em;
}

::backdrop {
  background-color: hsla(0, 0%, 0%, 0.8);
}/*# sourceMappingURL=style.css.map */