:root {
  --c-black: hsl(0, 0%, 0%);
  --c-dark-grey: hsl(0, 0%, 63%);
  --c-very-dark-grey: hsl(0, 0%, 27%);
  --c-white: hsl(0, 0%, 100%);

  --color-bg: var(--c-white);
  --color-text: var(--c-black);
}
